In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("number_train.csv")

In [3]:
df.head()

,zero,one,two,three,four,five,six,seven,eight,nine,...,twenty-three,twenty-four,twenty-five,twenty-six,twenty-seven,twenty-eight,twenty-nine,thirty,thirty-one,y
0,00000000000001111000000000000000,00000000000011111110000000000000,00000000001111111111000000000000,00000001111111111111100000000000,00000001111111011111100000000000,00000011111110000011110000000000,00000011111110000000111000000000,00000011111110000000111100000000,00000011111110000000011100000000,00000011111110000000011100000000,...,00000001111000000001111100000000,00000000111000000111111000000000,00000000111100011111110000000000,00000000111111111111110000000000,00000000011111111111110000000000,00000000011111111111100000000000,00000000001111111110000000000000,00000000000111110000000000000000,00000000000011000000000000000000,0
1,00000000000111110000000000000000,00000000001111111000000000000000,00000000011111111100000000000000,00000000111111111110000000000000,00000001111111111111000000000000,00000011111110111111100000000000,00000011111100011111110000000000,00000011111100001111110000000000,00000111111100000111111000000000,00000111111100000011111000000000,...,00000001111110000000111111100000,00000000111110000001111111000000,00000000111110000011111110000000,00000000111111000111111100000000,00000000111111111111111000000000,00000000111111111111110000000000,00000000011111111111100000000000,00000000001111111111000000000000,00000000000111111110000000000000,0
2,00000000000000110000000000000000,00000000000001111100000000000000,00000000000011111110000000000000,00000000010111111111000000000000,00000000111111111111000000000000,00000000111111111111100000000000,00000001111111111111110000000000,00000001111111100011111000000000,00000011111111000011111000000000,00000011111111000001111100000000,...,00000000111110000000011111000000,00000000111111000000011111000000,00000000111111000000111111000000,00000000011111111011111100000000,00000000000111111111111110000000,00000000000011111111111100000000,00000000000011111111111000000000,00000000000001111111110000000000,00000000000000111111000000000000,0
3,00000000000011110000000000000000,00000000000111111000000000000000,00000000001111111100000000000000,00000000000111111111100000000000,00000000001111111111110000000000,00000000001111111111111000000000,00000000011111101111111000000000,00000000011111000111111000000000,00000000011111000011111100000000,00000000111110000001111110000000,...,00000001111110000001111110000000,00000000111110000001111110000000,00000000111111000011111100000000,00000000011111000011111000000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000001111111111100000000000,00000000000011111111110000000000,00000000000000111110000000000000,0
4,00000000000000111110000000000000,00000000000011111111000000000000,00000000000111111111110000000000,00000000011111111111110000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000001111111000111111100000000,00000001111111000011111100000000,00000001111111000001111110000000,...,00000000111111000001111110000000,00000000111111100011111110000000,00000000011111100111111100000000,00000000011111101111111000000000,00000000001111111111111000000000,00000000001111111111110000000000,00000000000111111111110000000000,00000000000011111111000000000000,00000000000011111110000000000000,0

In [4]:
df.iloc[567]

zero            00000000000111111100000000000000
one             00000000001111111111110000000000
two             00000000111111111111111000000000
three           00000000111111111111111110000000
four            00000000111111111111111110000000
five            00000000111111111111111110000000
six             00000000111111111111111110000000
seven           00000000011110000001111110000000
eight           00000000000000000001111111000000
nine            00000000000000000001111110000000
ten             00000000000000000001111110000000
eleven          00000000000000000001111110000000
twelve          00000000000000000001111110000000
thirteen        00000000000000000001111110000000
fourteen        00000000000000001111111100000000
fifteen         00000000000000001111111000000000
sixteen         00000000000000001111110000000000
seventeen       00000000000000111111110000000000
eighteen        00000000000000111111110000000000
nineteen        00000000000011111111000000000000
twenty          00000000000111111110000000000000
twenty-one      00000000000111111110000000000000
twenty-two      00000000001111111100000000000000
twenty-three    00000000111111110000000000000000
twenty-four     00000001111111111111100000000000
twenty-five     00000001111111111111110000000000
twenty-six      00000011111111111111111000000000
twenty-seven    00000011111111111111111100000000
twenty-eight    00000001111111111111111100000000
twenty-nine     00000000111111111111111100000000
thirty          00000000000000000111111000000000
thirty-one      00000000000000000001110000000000
y                                              2
Name: 567, dtype: object

In [5]:
map(list,df.iloc[0])

In [6]:
y=[]
for i in map(list,df.iloc[0][:-1]):
    
    y=y+i

In [7]:
len(y)

1024

In [8]:
y=list(map(int,y))

In [9]:
y=y+[int(df.iloc[0][-1])]

In [10]:
len(y)

1025

In [69]:
i = 1
df.iloc[i]

one             00000000000000011000000000000000
two             00000000000111111110000000000000
three           00000000001111111111100000000000
four            00000000001111111111110000000000
five            00000000011111111111111000000000
six             00000000011111100011111000000000
seven           00000000111110000001111000000000
eight           00000000111110000001111100000000
nine            00000000111110000000111110000000
ten             00000001111110000000111110000000
eleven          00000001111110000000011111000000
twelve          00000001111110000000001111000000
thirteen        00000001111110000000001111100000
fourteen        00000001111100000000001111000000
fifteen         00000001111000000000001111000000
sixteen         00000001111000000000001111000000
seventeen       00000001111000000000000111000000
eighteen        00000000111100000000000111000000
nineteen        00000000111100000000000111000000
twenty          00000000111100000000000111000000
twenty-one      00000001111000000000011110000000
twenty-two      00000001111000000000011110000000
twenty-three    00000000111000000000011110000000
twenty-four     00000000111110000011111110000000
twenty-five     00000000111110001111111100000000
twenty-six      00000000111111111111111000000000
twenty-seven    00000000011111111111111000000000
twenty-eight    00000000111111111111100000000000
twenty-nine     00000000011111111111000000000000
thirty          00000000001111111000000000000000
thirty-one      00000000001111100000000000000000
thirty-two      00000000000100000000000000000000
thirty-three                                   0
Name: 1, dtype: object

In [11]:
len(df)

1934

In [13]:
import num2words

In [14]:
ndf= pd.DataFrame(columns = [num2words.num2words(i) for i in range(1024)])

In [15]:
ndf= pd.DataFrame(data = [i for i in range(1024)]).T

In [16]:

for i in range(len(df)):
    y=[]
    for i in map(list,df.iloc[i][:-1]):
        y=y+i
    y= list(map(int,y))
    npd=pd.DataFrame(y).T
    
    ndf= ndf.append(npd,ignore_index= True)

In [17]:
len(df)

1934

In [18]:
len(ndf)

1935

In [19]:
ndf.loc[0]

0          0
1          1
2          2
3          3
4          4
5          5
6          6
7          7
8          8
9          9
10        10
11        11
12        12
13        13
14        14
15        15
16        16
17        17
18        18
19        19
20        20
21        21
22        22
23        23
24        24
25        25
26        26
27        27
28        28
29        29
        ...
994      994
995      995
996      996
997      997
998      998
999      999
1000    1000
1001    1001
1002    1002
1003    1003
1004    1004
1005    1005
1006    1006
1007    1007
1008    1008
1009    1009
1010    1010
1011    1011
1012    1012
1013    1013
1014    1014
1015    1015
1016    1016
1017    1017
1018    1018
1019    1019
1020    1020
1021    1021
1022    1022
1023    1023
Name: 0, Length: 1024, dtype: int64

In [20]:
ndf= ndf.drop(ndf.index[0])

In [21]:
df

,zero,one,two,three,four,five,six,seven,eight,nine,...,twenty-three,twenty-four,twenty-five,twenty-six,twenty-seven,twenty-eight,twenty-nine,thirty,thirty-one,y
0,00000000000001111000000000000000,00000000000011111110000000000000,00000000001111111111000000000000,00000001111111111111100000000000,00000001111111011111100000000000,00000011111110000011110000000000,00000011111110000000111000000000,00000011111110000000111100000000,00000011111110000000011100000000,00000011111110000000011100000000,...,00000001111000000001111100000000,00000000111000000111111000000000,00000000111100011111110000000000,00000000111111111111110000000000,00000000011111111111110000000000,00000000011111111111100000000000,00000000001111111110000000000000,00000000000111110000000000000000,00000000000011000000000000000000,0
1,00000000000111110000000000000000,00000000001111111000000000000000,00000000011111111100000000000000,00000000111111111110000000000000,00000001111111111111000000000000,00000011111110111111100000000000,00000011111100011111110000000000,00000011111100001111110000000000,00000111111100000111111000000000,00000111111100000011111000000000,...,00000001111110000000111111100000,00000000111110000001111111000000,00000000111110000011111110000000,00000000111111000111111100000000,00000000111111111111111000000000,00000000111111111111110000000000,00000000011111111111100000000000,00000000001111111111000000000000,00000000000111111110000000000000,0
2,00000000000000110000000000000000,00000000000001111100000000000000,00000000000011111110000000000000,00000000010111111111000000000000,00000000111111111111000000000000,00000000111111111111100000000000,00000001111111111111110000000000,00000001111111100011111000000000,00000011111111000011111000000000,00000011111111000001111100000000,...,00000000111110000000011111000000,00000000111111000000011111000000,00000000111111000000111111000000,00000000011111111011111100000000,00000000000111111111111110000000,00000000000011111111111100000000,00000000000011111111111000000000,00000000000001111111110000000000,00000000000000111111000000000000,0
3,00000000000011110000000000000000,00000000000111111000000000000000,00000000001111111100000000000000,00000000000111111111100000000000,00000000001111111111110000000000,00000000001111111111111000000000,00000000011111101111111000000000,00000000011111000111111000000000,00000000011111000011111100000000,00000000111110000001111110000000,...,00000001111110000001111110000000,00000000111110000001111110000000,00000000111111000011111100000000,00000000011111000011111000000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000001111111111100000000000,00000000000011111111110000000000,00000000000000111110000000000000,0
4,00000000000000111110000000000000,00000000000011111111000000000000,00000000000111111111110000000000,00000000011111111111110000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000001111111000111111100000000,00000001111111000011111100000000,00000001111111000001111110000000,...,00000000111111000001111110000000,00000000111111100011111110000000,00000000011111100111111100000000,00000000011111101111111000000000,00000000001111111111111000000000,00000000001111111111110000000000,00000000000111111111110000000000,00000000000011111111000000000000,00000000000011111110000000000000,0
5,00000000000001100000000000000000,00000000000111111100000000000000,00000000001111111110000000000000,00000000011111111111000000000000,00000000111111111111100000000000,00000000111111111111100000000000,00000001111111111111110000000000,00000011111100011111110000000000,00000001111100000111111000000000,00000001111110000111111000000000,...,00000000111110000000111110000000,00000000111110000000111110000000,00000000111110000001111100000000,00000000111111000111111100000000,00000000111111111111111000000000,00000000011111111111111000000000,00000000001111111111110000000000,00000000001111111111000000000000,00000000000001111100000000000000,0
6,00000000000000111100000000000000,00000000000011111100000000000000,00000000001111111110000000000000,00000000001111111111000000000000,00000000111111111111100000000000,00000000111111111111110000000000,00000001111110001111110000000000,00000011111100000111110000000000,00000011111100000011111000000000,00000111111000000011111100000000,...,00000000111110000000111110000000,00000000111111000000111110000000,00000000111111000001111100000000,00000000011111100111111100000000,00000000011111111111111100000000,00000000001111111111111000000000,00000000001111111111110000000000,00000000000111111111100000000000,00000000000011111100000000000000,0
7,00000000000000111000000000000000,00000000000111111110000000000000,00000000001111111111000000000000,00000000001111111111100000000000,00000000011111111111110000000000,00000000011111111111110000000000,00000000111111111111111000000000,00000000111111101111111000000000,00000001111110000011111000000000,00000001111100000001111100000000,...,00000001111110000000011111000000,00000000111111100000111111000000,00000000011111111001111110000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000001111111111111100000000,00000000001111111111111000000000,00000000000001111111111000000000,00000000000000111111100000000000,0
8,00000000000000100000000000000000,00000000000001111000000000000000,00000000000111111100000000000000,00000000000111111100000000000000,00000000001111111100000000000000,00000000011111111110000000000000,00000000111111111111100000000000,00000001111111111111100000000000,00000001111111111111100000000000,00000001111110011111110000000000,...,00000000011111100000111111000000,00000000011111100001111110000000,00000000011111100011111110000000,00000000011111111111111100000000,00000000001111111111111000000000,00000000001111111111110000000000,00000000000111111111100000000000,00000000000011111111000000000000,00000000000011111110000000000000,0
9,00000000000000111100000000000000,00000000000011111110000000000000,00000000000011111111100000000000,00000000000111111111000000000000,00000000011111111111100000000000,00000000011111111111111000000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000111101111111111100000000,00000000111001111111111100000000,...,00000000000111100000111100000000,00000000000111110001111100000000,00000000001111100111111000000000,00000000001111100111110000000000,00000000001111111111110000000000,00000000000111111111110000000000,00000000000011111111000000000000,00000000000111111110000000000000,00000000000011111100000000000000,0
10,00000000000000000100000000000000,00000000000000011110000000000000,00000000000001111111000000000000,00000000000011111111100000000000,00000000000111111111110000000000,00000000000111111111100000000000,00000000011111111111101000000000,00000000011111110011111000000000,00000001111111000001111100000000,00000001111100000001111100000000,...,00000000000111100000001111000000,00000000001111110000111110000000,00000000000111111111111110000000,00000000000111111111111100000000,00000000000011111111111100000000,00000000000011111111111000000000,00000000000001111111110000000000,00000000000000001111111000000000,00000000000000000010000000000000,0
11,00000000001111110000000000000000,00000000011111111000000000000000,00000000011111111100000000000000,00000000111111111110000000000000,00000001111111111110000000000000,00000001111111111111100000000000,00000011111100111111110000000000,00000011111100011111110000000000,00000011111100001111111000000000,00000011111100000111111100000000,...,00000001111110000001111110000000,00000001111110000001111110000000,00000001111110000011111110000000,00000001111111111111111100000000,00000000011111111111110000000000,00000000011111111111100000000000,00000000001111111111000000000000,00000000000111111100000000000000,00000000000000000000000000000000,0
12,00000000000001111100000000000000,00000000000011111110000000000000,00000000000111111111100000000000,00000000001111111111100000000000,00000000011111111111110000000000,00000000111111111111110000000000,00000001111111111111110000000000,00000001111111001111110000000000,00000011111111000011111000000000,00000011111111000001111100000000,...,00000000111110000000011110000000,00000000011111000111111100000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000011111111111111000000000,00000000000111111111110000000000,00000000000111111111110000000000,00000000000011111111000000000000,00000000000000111100000000000000,0
13,00000000000011111000000000000000,00000000000111111100000000000000,00000000001111111110000000000000,00000000001111111111100000000000,00000011001111111111110000000000,00000111111111111111111000000000,00000111111111101111111000000000,00000111111111000011111100000000,00000111111110000001111110000000,00000111111110000001111110000000,...,00000001111100000000011111110000,00000000111100000000111111100000,00000000111110000001111111100000,00000000011111111111111111100000,00000000011111111111111111000000,00000000011111111111111110000000,00000000001111111111111100000000,00000000000011111111111100000000,00000000000001111111111000000000,0
14,00000000000011000000000000000000,00000000000011110000000000000000,00000000000111111000000000000000,00000000001111111100000000000000,00000000011111111110000000000000,00000000111111111111000000000000,00000001111111111111000000000000,00000011111111111111100000000000,00000001111111111111110000000000,00000011111110000011111000000000,...,00000000111100000000001111100000,00000000111110000000011111000000,00000000011111000000001111000000,00000000011111000001111111000000,00000000001111111111111111000000,00000000000111111111111110000000,00000000000111111111111110000000,00000000000011111111111000000000,00000000000001111111110000000000,0
15,00000000000001000000000000000000,00000000000001100000000000000000,00000000001111111000000000000000,00000000001111111110000000000000,00000000001111111111110000000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000111111101111111100000000,00000001111100000111111110000000,00000001111100000011111110000000,...,00000001111100000001111100000000,00000001111100000001111100000000,00000001111111000111111100000000,00000000111111111111111000000000,00000000111111111111110000000000,00000000011111111111100000000000,00000000001111111111000000000000,00000000000111111111000000000000,00000000000000100000000000000000,0
16,00000000000001100000000000000000,00000000000011110000000000000000,00000000001111111110000000000000,00000000000111111111100000000000,00000000001111111111110000000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000011111101111111100000000,00000000011111100000111110000000,00000000011111000000011110000000,...,00000001111100000011111100000000,00000000111100000111111000000000,00000000011111001111111100000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000011111111111110000000000,00000000001111111111110000000000,00000000000111111111110000000000,00000000000001110000000000000000,0
17,00000000000001100111000000000000,00000000000011111111100000000000,00000000001111111111111000000000,00000000001111111111111110000000,00000000011111111111111110000000,00000000011111111111111111000000,00000000111111111111111111000000,00000000111111000000011111000000,00000000111110000000011111000000,00000001111100000000001110000000,...,00000011111000000000111110000000,00000001111100000011111100000000,00000001111110001111111000000000,00000001111111111111111000000000,00000000111111111111100000000000,00000000111111111111000000000000,00000000001111111111000000000000,00000000000011111110000000000000,00000000000000110000000000000000,0
18,00000000000001111000000000000000,00000000000111111001100000000000,00000000001111111111111100000000,00000000001111111111111110000000,00000000001111111111111110000000,00000000001111111111111111000000,00000000011111111110011111000000,00000000011111111000011111000000,00000000011110000000011111000000,00000000111110000000011111000000,...,00000011111000000011111000000000,00000001111100000011111000000000,00000001111111111111111000000000,00000000111111111111110000000000,00000000011111111111100000000000,00000000011111111111100000000000,00000000001101111110000000000000,00000000000111111100000000000000,00000000000001110000000000000000,0
19,00000000000011111000000000000000,00000000001111111100000000000000,00000000011111111110000000000000,00000000001111111111000000000000,00000000001111111111100000000000,00000000011111111111110000000000,00000000111111111111110000000000,00000001111111001111111000000000,00000001111110000011111000000000,00000001111110000011111000000000,...,00000000011111000000111111100000,00000000011111100000111111000000,00000000011111111111111111000000,00000000011111111111111110000000,00000000011111111111111100000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000000011111111110000000000,00000000000001111111000000000000,0
20,00000000011111110000000000000000,00000000011111111100000000000000,00000000111111111110000000000000,00000001111111111111000000000000,00000011111111111111000000000000,00000011111111111111100000000000,00000011111110011111110000000000,00000011111111000111111000000000,00000011111111000011111000000000,00000011111111000011111000000000,...,00000001111110000000011111000000,00000001111110000000011111000000,00000001111110000000111111000000,00000001111111100111111110000000,00000000111111111111111110000000,00000000111111111111111100000000,00000000111111111111111000000000,00000001111111111111110000000000,00000000011111111110000000000000,0
21,00000000000111110000000000000000,00000000001111111110000000000000,00000000001111111111000000000000,00000000011111111111000000000000,00000000011111111111000000000000,00000000111111111111110000000000,00000000111111111111111000000000,00000001111111100011111100000000,00000001111111100000111100000000,00000000111111100000111111000000,...,00000001111110000000111100000000,00000001111111000000111100000000,00000000111111111111111100000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000011111111111111100000000,00000000001111111111111000000000,00000000001111111111100000000000,00000000000000011111000000000000,0
22,00000000000001111000000000000000,00000000000011111110000000000000,00000000000111111111000000000000,00000000001111111111110000000000,00000000111111111111110000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000001111111000001111000000000,00000001111111000000111100000000,00000011111111000000111110000000,...,00000000111100000000001111000000,00000000111110000000001111000000,00000000111111111000011110000000,00000000111111111111111110000000,00000000011111111111111110000000,00000000001111111111111100000000,00000000000111111111111100000000,00000000000011111111111000000000,00000000000000000011100000000000,0
23,00000000000011111100000000000000,00000000001111111111000000000000,00000000011111111111000000000000,00000000111111111111100000000000,00000000111111111111100000000000,00000001111111111111110000000000,00000001111111111111110000000000,00000011111111000111111000000000,00000011111111000001111000000000,00000011111111000001111100000000,...,00000001111110000011111110000000,00000000111111111111111110000000,00000000111111111111111100000000,00000000111111111111111000000000,00000000111111111111110000000000,00000000111111111111110000000000,00000000011111111111100000000000,00000000000111111110000000000000,00000000000000110000000000000000,0
24,00000000000000011110000000000000,00000000000000111111000000000000,00000000000111111111100000000000,00000000011111111111111000000000,00000000011111111111111100000000,00000001111111111111111100000000,00000001111111111001111100000000,00000001111111100000111100000000,00000011111111000000111110000000,00000011111100000000111110000000,...,00000000111111000001111100000000,00000000011111000001111100000000,00000000011111000011111000000000,00000000001111111111111000000000,00000000001111111111110000000000,00000000000111111111100000000000,00000000000111111111100000000000,00000000000001111111000000000000,00000000000000001000000000000000,0
25,00000000000001100000000000000000,00000000000111111100000000000000,00000000000111111110000000000000,00000000000111111110000000000000,00000001111111111111000000000000,00000111111111111111100000000000,00000011111111111111110000000000,00000011111111111111111000000000,00000011111111111111111000000000,00000111111100000011111000000000,...,00000000111111000000001111100000,00000000111111000000001111100000,00000000011111110011111111100000,00000000001111111111111111000000,00000000000111111111111111000000,00000000000111111111111110000000,00000000000111111111111110000000,00000000000001111111111000000000,00000000000000011111110000000000,0
26,00000000000011100000000000000000,00000000000111111100000000000000,00000000001111111111000000000000,00000000001111111111000000000000,00000000011111111111110000000000,00000000111111111111110000000000,00000000111111111111111000000000,00000001111100000001111000000000,00000001111100000001111000000000,00000011111100000000111000000000,...,00000000111111000000001111100000,00000000111111000000001111100000,00000000011111000000111111100000,00000000011111110111111111000000,00000000001111111111111110000000,00000000001111111111111100000000,00000000001111111111111100000000,00000000000111111111110000000000,00000000000011111111000000000000,0
27,00000000000000111111110000000000,00000000001100111111111100000000,00000000001100111111111100000000,00000000111111111111111000000000,00000001111111111111111100000000,00000001111111111111111100000000,00000001111111111111111100000000,00000001111111111111111110000000,00000001111111111111111110000000,00000001111111111111111110000000,...,00000001111100011111111100000000,00000001111111111111111000000000,00000001111111111111111000000000,00000000111111111111100000000000,00000000111111111111100000000000,00000000011111111111000000000000,00000000001111111100000000000000,00000000011111111000000000000000,00000000000100000000000000000000,0
28,00000000000000000011110000000000,00000000000000001111111100000000,00000000001000111111111100000000,00000000011111111111111110000000,00000000111111111111111110000000,00000000111111111111111110000000,00000000111111111111111110000000,00000000111111111111111111000000,00000001111111111101111111000000,00000000111111000000001111000000,...,00000000111100000001111110000000,00000000111110000111111000000000,00000000111111111111111000000000,00000000011111111111111000000000,00000000011111111111111000000000,00000000011111111111110000000000,00000000001111111111110000000000,00000000000111111111000000000000,00000000000000111100000000000000,0
29,00000000000000111100000000000000,00000000000011111110000000000000,00000000000111111111000000000000,00000000010111111111110000000000,00000000111111111111110000000000,00000000111111111111111000000000,00000000111111111111111000000000,00000000111111000011111000000000,00000001111110000001111100000000,00000011111110000000111100000000,...,00000000111100000000001111100000,00000000111110000000011111000000,00000000011111000000111111000000,00000000001111100111111110000000,00000000001111111111111110000000,00000000001111111111111110000000,00000000000111111111111000000000,00000000000001111111111000000000,00000000000000011111100000000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1904,00000000000001110000000000000000,00000000000001111110000000000000,00000000000111111110000000000000,00000000001111111111000000000000,00000000011111111111000000000000,00000000011111111111100000000000,00000001111111110111100000000000,00000001111111100011100000000000,00000000111111100001110000000000,00000001111111000001110000000000,...,00000000011100000000011111000000,00000000011100000000111111000000,00000000011110000000011111000000,00000000001111100000111111000000,00000000001111111111111111000000,00000000000111111111111111000000,00000000000111111111111110000000,00000000000011111111111110000000,00000000000000001000110000000000,9

In [22]:
df2 = df

In [23]:
df2['y']= df2.iloc[:,-1]

In [117]:
df2['y']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
916    9
917    9
918    9
919    9
920    9
921    9
922    9
923    9
924    9
925    9
926    9
927    9
928    9
929    9
930    9
931    9
932    9
933    9
934    9
935    9
936    9
937    9
938    9
939    9
940    9
941    9
942    9
943    9
944    9
945    9
Name: y, Length: 946, dtype: int64

In [24]:
ndf.reset_index(inplace= True)
ndf['y'] = df2['y']

In [25]:
ndf['y'][85:89]

85    0
86    0
87    0
88    0
Name: y, dtype: int64

In [27]:
ndf.to_csv("frmt_num_train.csv",index = False)

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
mod= GaussianNB()

In [30]:
ndf1 = ndf.iloc[:,:-1]

In [74]:
ndf1.drop(ndf1.columns[0],axis=1,inplace= True)

In [76]:
ndf1.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
type(ndf['y'][1])

numpy.int64

In [82]:
mod.fit(ndf1,ndf['y'])

GaussianNB(priors=None)

In [78]:
mod.predict(ndf1.iloc[9,:])

C:\Users\swamy\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([0], dtype=int64)

In [83]:
mod.score(ndf1,ndf['y'])

0.79162357807652539

In [39]:
test_df = pd.read_csv('frmt_num_test.csv')

In [40]:
test_df.head()

,index,0,1,2,3,4,5,6,7,8,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
col = [0,-1]
test_train_df = test_df.drop(test_df.columns[col],axis=1)

In [72]:
test_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
len(test_df['y'])

946

In [80]:
mod.predict(test_train_df.iloc[354,:])

C:\Users\swamy\Anaconda3\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([3], dtype=int64)

In [85]:
mod.score(test_train_df,test_df['y'])

0.73361522198731499

In [86]:
from sklearn.linear_model import LinearRegression

In [87]:
lin_mod= LinearRegression()

In [88]:
lin_mod.fit(ndf1,ndf['y'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [89]:
lin_mod.score(ndf1,ndf['y'])

0.77337844592271332

In [90]:
lin_mod.score(test_train_df,test_df['y'])

-1.0706966627684976e+17

In [96]:
from sklearn.linear_model import LogisticRegression

In [97]:
log_mod= LogisticRegression()

In [98]:
log_mod.fit(ndf1,ndf['y'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [99]:
log_mod.score(ndf1,ndf['y'])

1.0

In [100]:
log_mod.score(test_train_df,test_df['y'])

0.96617336152219868